.menu{

	background-color: #333;
}

.center{
	text-align: center;
}

.profile{
	width: 320px;
	height: 320px;
	border-radius:50% ; /*border-radius: 10px 20px 30px 40px;*/
	border-style:double;
	border-color:#007bff;
	border-width: 0.5rem;
}

.home{
	background-image: url('../imagens/Imagem.jpg');
	background-size: cover;
}

.title{
	font-weigth:bold;
}

.footer{
	border-top-width: 1px solid #ccc;
	padding-top: 6px;
}

#contato{
	background-color: #2f3542;
	padding:1rem;
}

.dev{
	font-weight: lighter;
	font-style: italic;
}

.conheca-me{
	color:#007bff; /* cor da letra */
	background-color: #fff; /* cor de fundo */
}

.conheca-me:hover{
	border: 0px;
	box-shadow: 5px 6px 8px #333;
}